.navbar.no-bottom-margin {
    margin-bottom: 0;
}

.map-height {
    height: 100%;
}

.modal-dialog {
    padding-top: 20%;
}

.alert.no-bottom-margin {
    margin-bottom: 0;
}

.custom-controls-hidden {
    visibility : hidden;
}

.map-middle-message-label {
    font-size: 300%;
}

.result-game-label {
    font-size: 300%;
}

.result-status-label {
    font-size: 250%;
}

.table.results-table{
    border-color: transparent;
    border-collapse: separate;
    border-spacing: 0 2px;
}

.info-area-text-placeholder {
    font-size: 250%;
}

.scores-placeholder,
.question-number{
    font-size: 150%;
}

.right-answer {
    color: #48d484;
}

.wrong-answer,
.player-left {
    color: #ff5757;
}

.question-color,
.hud-color,
.table.results-table > thead > tr > th {
    color: #029acf;
}

.table.results-table > thead > tr > th {
    border-bottom: none;
}

.table.results-table > tbody > tr {
    background-color: rgba(217, 237, 247, 0.5);
}

.row-centered {
    text-align:center;
}

.margin-top {
    margin-top: 15px;
}

.table.results-table > thead > tr > td,
.table.results-table > tbody > tr > td
{
    border-top: none;
}

.social-likes {
    margin-top: 50px;
}
